.bio-main{
	height: 100vh;
	font-size: xx-large;
	font-weight: bolder;
	position: relative;
}

.bio-title{
	background: -webkit-linear-gradient(145deg, rgba(0,190,140,1) 0%, rgba(71,255,253,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: flex;
	/*width: 100vw;*/
	justify-content: center;
	align-items: center;
	/*padding: 15%;*/
	height: 20%;
}

.bio-about{
	display: flex;
	/*align-items: center;*/
	justify-content: space-evenly;
	height: 80%;
	position: relative;
}

.bio-content-left{
	width: 49vw;
	/*text-align: left;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.bio-content-left p {
	padding: 0 10px 0 25px;
}

.bio-content-right{
	width: 49vw;
	margin-bottom: 25px;
}

.bio-content-right-logos{
	height: 100%;
	display: grid;
	grid-template-columns: 33% 33% 34%;
	/*grid-template-rows: repeat(4, 25%);*/
	row-gap: 15%;
	justify-items: center;
	align-items: center;
}

.bio-content-left-top p{
	/*text-align: center;*/
	font-weight: 400;
}

.milestone{
	text-align: left;
	border: 2px solid black;
	border-radius: 20px;
	margin: 12px;
	background: rgb(90,219,185);
  	background: linear-gradient(45deg, rgba(90,219,185,1) 0%, rgba(123,237,236,1) 100%);
/*  	background: 
  		linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
	    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
	    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 5px 5px;*/
  	color: white;
}

/*Animations*/

.bio-content-right-logos img{
	/*cursor: not-allowed;*/
	will-change: transform;
	transition: transform 450ms;
}

.bio-content-right-logos img:hover{
	transition: 125ms;
	transform: translateY(-15px);

}