.portf-main{
	height: fit-content;
	background: rgb(90,219,185);
  	background: linear-gradient(45deg, rgba(90,219,185,1) 0%, rgba(123,237,236,1) 100%);
/*  	background: rgb(80,196,166);
	background: linear-gradient(45deg, rgba(80,196,166,1) 0%, rgba(111,213,212,1) 100%);*/
  font-size: xx-large;
	font-weight: bolder;
	position: relative;
	color: white;
}

.portf-title{
	height: 4rem;
	padding: 30px 0 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.portf-content{
	padding: 15px 0 30px 0;
	height: fit-content;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(260px, 750px));
	justify-content: center;
	justify-items: center;
	/*margin: 150px;*/
}

.portf-item{
	/*min-width: 200px;*/
	width: 610px;
	height: 450px;
	background: white;
	color: black;
	border-radius: 20px;
	/*border: 2px solid black;*/
	position: relative;
	transition: transform 2s ease-in-out;
}

.portf-item-img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 5px 5px 0 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid black;
}

.portf-item-overlay{
	position: absolute;
	cursor: default;
	background-color: transparent;
	left: 0;
	top: 0;
	height: inherit;
	width: inherit;
	border-radius: 20px;
	transition: background 2s ease-in-out;
}

.portf-item-overlay p{
	color: white;
	opacity: 0%;
	height: 75%;
	display: flex;
	align-items: center;
	padding: 10px;
	transition: opacity 2s ease-in-out;
}


.portf-item-overlay-button {
	opacity: 0%;
	/*display: none;*/
	height: 10%;
	width: 20%;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 5% 0 5%;
	transition: opacity 2s ease-in-out;
}

.portf-item:hover{
	transform: translate(-5px, -5px);
}

.portf-item-overlay:hover{
	background: rgba(50, 50, 50, .8);
}

.portf-item-overlay:hover p{
	opacity: 100%;
}
.portf-item-overlay:hover .portf-item-overlay-button{
	/*display: initial;*/
	opacity: 100%;
}

.button-disabled{
  background-color: rgba(100, 100, 100, 8.0);
  cursor: not-allowed;
}
/*.portf-item-overlay-pagebutton{
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	/*z-index: 5;
}*/

/*Media Queries*/
@media only screen and (max-width: 2290px), (max-height: 1150px){
	.portf-main{
		font-size: large;
		/*height: fit-content;*/
	}
	.portf-title{
		height: 10%;
	}
	.portf-content{
		height: fit-content;
		grid-template-columns: repeat(auto-fill, 415px);
	}

	.portf-item{
		width: 410px;
		height: 290px;
	}
	.portf-item-img{
		width: 400px;
	}
	.portf-item-overlay-button{
		height: 2rem;
		width: 100px;
	}
}

@media only screen and (max-width: 1000px), (max-height: 725px){
	.portf-main{
		font-size: small;
	}
	.portf-content{
		grid-template-columns: repeat(auto-fill, 265px);
	}
	.portf-item{
		width: 260px;
		height: 200px;
	}
	.portf-item-img{
		width: 250px;
	}
	.portf-item-overlay p{
		height: 70%;
	}
}

@media only screen and (max-width: 550px), (max-height:  480px){
	.portf-main{
		height: fit-content;
	}
	.portf-content{
		grid-template-columns: 1fr;
		padding-bottom: 20px;
	}
}