.nav-bar{
	height: 75px;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
/*.nav-bar-condensed{
	height: 75px;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}*/



.nav-item{
	height: 100%;
	float: left;
	width: 200px;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

.nav-item a{
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 800px){
	.nav-item{
		width: fit-content;
		padding: 0 5px 0 5px;
	}

	.nav-bar{
		/*display: inherit;*/
		justify-content: unset;

	}

	.nav-bar ul{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		/*align-content: center;*/
	}
}

@media only screen and (max-width: 400px){
	.nav-bar{
		height: 3rem;
	}

	.nav-item{
		font-size: small;
	}
}