
.App-header {
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: rgba(90, 219, 185, .80);*/
  background: rgb(90,219,185);
  background: linear-gradient(45deg, rgba(90,219,185,1) 0%, rgba(123,237,236,1) 100%);
  font-weight: bolder;
  color: white;
  font-size: xx-large;
  position: relative;
}

.header-info{
	padding: 200px;
}

/*media quiries*/

@media only screen and (max-width: 1200px), (max-height: 300px){
  .App-header{
    justify-content: center;
    font-size: x-large;
  }
  .header-info{
    padding: 15px;
  }
}

@media only screen and (max-width: 588px){
  .App-header{
    font-size: large;
  }
}